@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	line-height: 1.4;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
}

/* navigation */

nav {
	box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
	position: sticky;
	margin-bottom: 32px;
	background: white;
	padding: 10px;
	z-index: 50;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.nav-sec {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* HERO SECTION */

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 100px;
}

.hero_content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.tag {
	background-color: #149F39;
	color: white;
	padding: 5px 10px;
	align-self: flex-start;
}

.hero_content h1 {
	font-size: 72px;
	line-height: 1.2;
	font-weight: 400;
}

p {
	font-size: 12px;
	font-weight: 500;
	line-height: 19px;
	letter-spacing: 0em;
}

.explore_btn {
	color: white;
	background-color: #FFC066;
	align-self: flex-start;
	padding: 10px;
	font-size: 24px;
}


/* FEATURE section */

.features {
  margin-top: 100px;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}

.feature {
  display: flex;
  gap: 20px;
  padding: 20px;
  transition: 0.2s ease-in-out;
}

.feature img {
  width: 72px;
}
.feature:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}